<launch>
  <arg name="port" default="ttyUSB0"/>
  <node name="DobotServer" pkg="doodbot" type="DobotServer" args="$(arg port)" output="screen"/>
  <node name="DobotClient" pkg="doodbot" type="DobotClient_JOG" output="screen"/>
  <node name="DobotPose" pkg="doodbot" type="DobotPose" output="screen"/>
</launch>
